In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt
from sklearn import linear_model
print("completed")

completed

In [ ]:
file=pd.read_csv("/content/boston.csv")
print("reading a file into variable file is completed")

reading a file into variable file is completed

In [ ]:
print("printing the first 5 records")
file.head()

printing the first 5 records

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
print("last 5 records")
file.tail()

last 5 records

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [ ]:
x=file.drop('medv',axis=1).values
y=file['medv'].values
print("completed")

completed

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.303,random_state=50)
print("completed")

completed

In [ ]:
x_test.shape,x_train.shape

((154, 13), (352, 13))

In [ ]:
pre=linear_model.LinearRegression()
pre.fit(x_train,y_train)
print("fitting is completed")

fitting is completed

In [ ]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
print("evaluation on trained data")
y_pre=pre.predict(x_train)
print("mean absolute error=",mean_absolute_error(y_train,y_pre))
print("mean_square_error=",mean_squared_error(y_train,y_pre))
print("r2_score =",r2_score(y_train,y_pre))
print("completed")

evaluation on trained data
mean absolute error= 3.0070589699829027
mean_square_error= 17.648738667343327
r2_score = 0.7700869014443088
completed

In [ ]:
print("evaluation of train model using test data")
y_test_pre=pre.predict(x_test)
print("mean_absolute_error = ",mean_absolute_error(y_test,y_test_pre))
print("mean_square_error = ",mean_squared_error(y_test,y_test_pre))
print("r2_score = ",r2_score(y_test,y_test_pre))
print("completed")

evaluation of train model using test data
mean_absolute_error =  3.6611099699941256
mean_square_error =  33.50498129847161
r2_score =  0.670169415284334
completed